<!DOCTYPE html>
<html>
  <body>
    <head><meta charset="utf-8"><title>MY カレンダー</title>
    <style>
    h1{
    color:	firebrick;
    font: italic small-caps bold 30px cursive;
    text-align: center;
    }
    ul{
      margin: 0 auto;
      width: 200px;
    }
    </style>
    </head>
    
　<h1>MY カレンダー</h1>
　<hr/>
　<br/>
   <ul>
    <% if @flag != true %>
    <p>予定はありません。</p>
    <% end %>
  <% @cal.each do |e| %>
    <li>
      <%= e[:date] %>&nbsp;&nbsp;
      <%= e[:time] %><br/>&nbsp;&nbsp;
      <%= e[:memo] %>&nbsp;&nbsp;
      <a href="/calender/edit?id=<%= e[:id] %>">編集</a>
      <a href="/calender/delete?id=<%= e[:id] %>">削除</a> 
    </li>
  <% end %>
  </ul>
 </body></html>