<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"><title>MY カレンダー</title>
  <style>
   h1{
    color:	firebrick;
    font: italic small-caps bold 30px cursive;
    text-align: center;
   }
   .cal{
    margin:0 auto;
    width: 330px;
   }
   b{
    color: 	chocolate;
   }
   .box{
    margin: 0 auto;
    width: 250px;
    position: relative;
    padding: 20px 150px;
    border-top: solid 2px 	brown;
    border-bottom: solid 2px brown;
   }
   .box:before, .box:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: brown;
   }
   .box:before {left: 10px;}
   .box:after {right: 10px;}
   }
  </style>
 </head>
 
 <body>
　<h1>MY カレンダー</h1>
　<hr/>
　<div class="cal">
　<p>
  <% require 'date' %>
  <% today = Date.today
  firstday = Date.new(today.year, today.month, 1)
  lastday = Date.new(today.year, today.month, -1) %>
  <b><%= today.strftime("%B %Y").center(21) %></b>
  <br/>
  &thinsp;
  &ensp;Sun&ensp;&ensp;Mon&ensp;&ensp;Tue&ensp;&ensp;Wed&ensp;&ensp;Thu&ensp;&ensp;Fri&ensp;&ensp;Sat
  <br/>
  
  <% wday = firstday.wday %>
  <% wday.times do |w| %>
  &ensp;&ensp;&ensp;&ensp;&ensp;
  <% end %>
 
  <%firstday.day.upto(lastday.day) do |d| %>
   <% w = d.to_s %>
   <% if w.length == 1 %>
   &ensp;&ensp;
   <% else %>
   &ensp;
   <% end %>
   <% if d==today.day%>
   &ensp;<a href="/calender/date?date=<%= today.year.to_s + '-' +('0' + today.month.to_s)[-2..-1] + '-' + ('0' + d.to_s)[-2..-1] %>" 
   style="text-decoration:none; color:red;"><%= d %></a>
   <% else %>
   &ensp;<a href="/calender/date?date=<%= today.year.to_s + '-' +('0' + today.month.to_s)[-2..-1] + '-' + ('0' + d.to_s)[-2..-1] %>" 
   style="text-decoration:none;"><%= d %></a>
   <% end %>
   <% wday += 1 %>
   <% if wday == 7 %>
    <br/>
    <% wday == 7 %>
    <br/>
    <% wday = 0 %>
    <% end %>
  <% end %>
 </p>
 </div>
<br/>

<div class="box">
  <form action="/calender/regist" method="post">
    日付:<input type="date" name="date"><br/><br/>
    時間: <input type="time" name="time"><br/><br/>
    メモ: <br/><textarea name="memo" rows="10" cols="30"></textarea>
    <br/>
    <input type="submit" value="登録">
    <input type="reset" value="リセット">
 </div>
  </form>
 </body></html>